<% content_for :title, "ABChungStack" %>
<main>
  <section class="hero">
    <h1 class="hero__first-line"> You need to make your <b>process</b></h1>
    <h2 class="hero__second-line"> Agile and Lean </h2>
  </section>
</main>