header {
  width: 100%;
  background-color: var(--primary-color);
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

.header__wrapper {
  height: 100%;
  width: 100%;
  margin: 0px auto;
  padding: 0.625rem 0rem;
}

.header__logo {
  text-decoration: none;
}

.header__logo:hover {
  cursor: pointer;
}

.header__nav-links {
  text-decoration: none;
  color: black;
}

.header__nav-links--current {
  color: var(--secondary-color);
}
.header__nav-links:hover {
  cursor: pointer;
}

@media only screen and (min-width: 600px) {
  .header__wrapper {
    max-width: var(--main-width);
  }

  .header__logo {
    display: inline;
  }

  .header__button {
    display: none;
  }
  nav {
    display: inline;
    float: right;
  }

  .header__nav-links {
    display: inline-block;
    margin: 0rem 0.8125rem;
  }
}