header {
  width: 100%;
  height: auto;
  background-color: var(--primary-color);
}

.header__wrapper {
  width: 100%;
  padding: 0.625rem;
  position: relative;
}

.header__logo {
  display: inline-block;
  text-decoration: none;
}

.header_button {
  display: inline-block;
}

.header__nav {
  position: absolute;
  top: 2.250rem;
  left: 0px;
  width: 100%;
  overflow: hidden;
  background-color: var(--primary-color);
  z-index: 999;
}

.header__nav--closed {
  height: 0px;
}

.header__nav--opened {
  height: 100vh;
}

.header__nav ul {
  list-style-type: none;
}

.header__nav-link {
  text-align: right;
  margin: 1.625rem 1rem;
  color: var(--secondary-color);
}

.header__nav-link--not-current {
  text-decoration: none;
  color: black;
}

.header__button {
  background: none;
  border: none;
  display: inline;
  float: right;
}

@media only screen and (min-width: 600px) {
  .header__wrapper {
    max-width: var(--main-width);
    margin-left: auto;
    margin-right: auto;
  }

  .header__nav {
    position: relative;
    top: 0px;
    left: 0px;
    width: auto;
    height: 100%;
    display: inline;
    float: right;
  }

  .header__nav-link {
    display: inline-block;
    margin: 0px 0.625rem;
    color: var(--secondary-color);
  }

  .header__button {
    display: none;
  }
}