.hero {
  width: 100%;
  height: 632px;
  position: relative;
  background-color: red;
}

@media only scree and (min-width: 600px) {
  .hero__first-line {
    position: absolute;
    font-size: 3rem;
    top: 94px;
    left: 150px;
  }

  .hero__second-line {
    position: absolute;
    font-size: 3rem;
    top: 240px;
    left: 390px;
  }
}